.layout {
  padding: 0 50px;
  margin-top: 50px;
}
.add-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.list-title {
  text-align: center;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.todo-container {
  display: flex;
  word-wrap: normal;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(69, 128, 87, 0.8);
  border-radius: 15px;
  margin: 15px;
  padding: 5px;
  text-align: center;
}
